<% provide(:title, "Projetos")%>
<% provide(:header, "Projetos")%>
<p id="notice"><%= notice %></p>
<section>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Usuário</th>
          <th>Tipo do projeto</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @projetos.each do |projeto| %>
          <tr>
            <td><%= projeto.nome %></td>
            <td><%= projeto.usuario %></td>
            <td><%= projeto.tipo_projeto %></td>
            <td>
              <%= link_to projeto, :class => ' table-icon-button' do %>
                  <span class="glyphicon glyphicon-eye-open"></span>
              <% end %>
              <%= link_to edit_projeto_path(projeto), :class => ' table-icon-button' do %>
                  <span class="glyphicon glyphicon-edit"></span>
              <% end %>
              <%= link_to projeto, :class => ' table-icon-button', method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <span class="glyphicon glyphicon-remove"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row min-width">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <%= link_to 'Novo Projeto', new_projeto_path, :id => 'my-button', :class => 'btn btn-default' %>
    </div>
  </div>
</section>
